@import '~normalize.css';

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  background: var(#{--body-background-default});
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

